<%- include ('./header') %>
  <div class="ml-32 mr-32 text-gray-700 about">
    <div class="p-8 bg-white border rounded-lg shadow-2xl bg-opacity-50" style="text-align: center;">
      <div class="text-2xl text-indigo-800">StyleX Acadamy</div>
      <hr>
      <p class="font-normal font-medium text-gray-800">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sit laborum cumque recusandae nostrum aspernatur repellat, soluta totam labore perspiciatis quisquam maiores enim. Atque eligendi praesentium qui voluptates cupiditate tempora voluptatibus.</p>
      <div class="justify-center mt-8 sm:flex">
        <a href="/support" class="p-1 text-indigo-900 border-indigo-700 border-1 rounded-md">support us</a>
        <a href="/feedback" class="p-1 ml-2 text-indigo-900 border-indigo-700 abt border-1 rounded-md">Feedback</a>
      </div>
    </div>
  </div>
