<%- include ('./header') %>
  <div class="ml-3 mr-3 -mt-16 text-4xl text-gray-700 bg-white">
    <br>
    <div style="text-align: center;">
      <img id="cont" src="/other_imgs/follow.png" alt="" style="text-align: center;width: 28rem;margin-left: auto;margin-right: auto;" class="h-48">
      <h3>On</h3>
      <img id="cont" src="/other_imgs/ift.png" alt="" class="h-40" style="width: 24rem;text-align: center;margin-left: auto;margin-right: auto;">
      <h1>@bnk_23307</h1>
    </div>
  </div>
