<%- include ('./header') %>

    <div class="mb-8" style="text-align: center;">
        <input onkeyup="fetch();" type="text" class="p-2 mb-4 bg-white shadow appearance-none bg-opacity-50 rounded-md" id="bar" placeholder="search">
        <br>
        <br>
        <span class="text-gray-600" id="sp"></span>
    </div>
    <div id="cont">

    </div>

